<!-- <app-tracks-component></app-tracks-component> -->
<!-- <app-todo></app-todo> -->
<!-- <app-product></app-product> -->
 <!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <body>
<nav class="navbar navbar-expand bg-light p-3">
  <div class="container justify-content-center">
    <div class="btn-group" role="group" aria-label="Task buttons">
      @for (task of tasks; track task.id) {
      <button (click)="selectedTaskId = task.id" type="button" [ngClass]='{"btn":true,"btn-outline-primary": selectedTaskId != task.id,"btn-dark": selectedTaskId == task.id}'>{{task.name}}</button>
      }
    </div>
  </div>
  
</nav>
<hr>

@switch (selectedTaskId) {
@case (1) {
<app-tracks-component />
}
@case (2) {
<app-todo />
}
@case (3) {
<app-products />
}
}

</body>
</html>